@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

.basic-lead {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

/*Стили для главной страницы*/

.main-header {
  background-color: #ffffff;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

.navigation-user-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

.likes-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  background-color: #7db54f;
}

.main-index {
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/background/index-background.jpg");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-middle {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-dark {
  background-color: #82b3d3;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-dark .advantages-title {
  color: #ffffff;
}

.advantages-dark .advantages-description {
  color: #ffffff;
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.service-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.subscribe {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-special {
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-special .subscribe-title {
  color: #ffffff;
}

.subscribe-special .subscribe-description {
  color: #ffffff;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-input::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.button-subscribe {
  background-color: #82b3d3;
}

.main-footer {
  background-color: #ffffff;
}

.contact-tel {
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.social-link-vk {
  background-image: url("../images/icons/vk.svg");
  background-repeat: no-repeat;
}

.social-link-telegram {
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
}

.social-link-youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
}

/*Стили для каталога*/

.filter {
  background-image: url("../images/background/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.filter input[type="number"] {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filter-button {
  background-color: transparent;
}

.active-filter-button {
  background-color: #82b3d3;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.catalog {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.favourite-card {
  background-color: #82b3d3;
}

.favourite-special {
  background-color: #7db54f;
}

.card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}
